<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CIM3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="context.presentation.ContextModelWizardID"
            name="%_UI_ContextModelWizard_label"
            class="context.presentation.ContextModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContextModelFile.gif">
         <description>%_UI_ContextModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated CIM3 -->
      <editor
            id="context.presentation.ContextEditorID"
            name="%_UI_ContextEditor_label"
            icon="icons/full/obj16/ContextModelFile.gif"
            extensions="context"
            class="context.presentation.ContextEditor"
            contributorClass="context.presentation.ContextActionBarContributor">
      </editor>
   </extension>

</plugin>
